@font-face {
    font-family: "inter-bold";
    src: url(assets/fonts/static/Inter-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "inter-regular";
    src: url(assets/fonts/static/Inter-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "inter-semi-bold";
    src: url(assets/fonts/static/Inter-SemiBold.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
}
.container{
    background-color: #1F1F1F;
    width: 327px;
    margin: 128px 24px 128px 24px;
    padding: 24px;
    border-radius: 12px;
}
img{
    border-radius: 50%;
    width: 88px;
    display: block;
    margin: auto;
}
.dados{
    padding-top: 24px;
    text-align: center;
    margin-bottom: 24px;
}
.dados>h1{
    font-family: "inter-semi-bold";
    color: #fff;
    padding-bottom: 4px;
    font-size: 24px;
}
.dados>p{
    color: #C4F82A;
    font-family: "inter-bold";
    font-size: 14px;
}
#front{
    color: #fff;
    font-family: "inter-regular";
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
}
.social>a{
    background-color: #333333;
    color: #FFF;
    font-family: "inter-bold";
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 8px;
}
.social>a:hover{
    cursor: pointer;
    background-color: #C4F82A;
    color: #333333;
}

@media screen and (min-width:481px){
    .container{
        width: 384px;
        margin: auto;
        margin-top: 128px;
    }
}
