@font-face {
  font-family: "manrope";
  src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf)
    format("truetype");
}
@font-face {
  font-family: "fraunces";
  src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf)
    format("truetype");
}
:root {
  --font-projeto: "fraunces";
  --font-secundaria: "manrope";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-projeto);
}
header {
  background-color: #24053e;
  clip-path: ellipse(170% 100% at 50% 0%);
  position: relative;
}
.container-header {
  display: flex;
  padding: 32px 20px 0 20px;
  justify-content: space-between;
}
.container-header a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #44ffa1;
  font-size: 18px;
  font-family: var(--font-secundaria);
}
.container-data {
  padding: 56px 20px 144px 20px;
  text-align: center;
}
.container-data h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 40px;
}
.container-data span {
  border-bottom: 2px solid #44ffa1;
}
.container-data a {
  display: inline-block;
  text-decoration: none;
  color: #24053e;
  background-color: #44ffa1;
  padding: 16px 20px;
  font-family: var(--font-secundaria);
  font-weight: 700;
}
.image-hero {
  position: absolute;
  width: 100%;
  max-width: 320px;
  top: 380px;
  left: 40px;
  z-index: 2;
}
.container-hero {
  padding: 80px 20px;
  text-align: center;
  background-color: #fcf8ff;
  clip-path: ellipse(170% 100% at 50% 0%);
}
.container-hero h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.container-hero p {
  color: #24053e;
}
.number {
  border: 2px solid #584d62;
  border-radius: 50%;
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  font-weight: 600;
  margin: 20px 0 24px 0;
}
.number:first-child {
  margin-top: 64px;
}
.founder {
  margin: 112px 20px 0 20px;
  position: relative;
}
.founder img {
  width: 335px;
  left: 20px;
  margin-bottom: -70px;
  position: relative;
  z-index: -1;
}
.bg-emphasis {
  background-color: #24053e;
  padding: 32px;
  text-align: center;
}
.bg-emphasis h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
.bg-emphasis p {
  margin: 32px 0;
  font-family: var(--font-secundaria);
  color: #fff;
  font-size: 16px;
  line-height: 180%;
  font-weight: 400;
}
.bg-emphasis a {
  display: inline-block;
  text-decoration: none;
  color: #24053e;
  background-color: #44ffa1;
  padding: 16px 20px;
  font-family: var(--font-secundaria);
  font-weight: 700;
}
footer {
  padding: 80px;
  display: flex;
  justify-content: center;
}
.container-footer {
  margin-bottom: 56px;
}
.container-footer > a > img {
  width: 96px;
}
.container-social {
  display: flex;
  margin-top: 56px;
  justify-content: space-between;
  align-items: center;
}
.container-social > a > img {
  width: 20px;
}
@media screen and (min-width: 431px) and (max-width: 1024px) {
  .container-header {
    padding: 32px 44px 0 44px;
  }
  .container-data {
    padding: 56px 44px 144px 44px;
  }
  header {
    background-image:
      url("assets/images/bg-pattern-1.svg"),
      url("assets/images/bg-pattern-2.svg");
    background-color: #24053e;
    background-repeat: no-repeat, no-repeat;
    background-size: 270px, 142px;
    background-position:
      left -172px top 58px,
      right -91px top 195px;
    clip-path: ellipse(170% 100% at 50% 0%);
  }
  .container-data h1 {
    font-size: 60px;
  }
  .image-hero {
    width: 100%;
    max-width: 514px;
    height: 296px;
    padding: 0 44px;
    top: 400px;
    left: 30%;
    z-index: 299;
  }
  .container-hero {
    display: flex;
    padding-top: 302px;
  }
}
