@font-face {
  font-family: "manrope";
  src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf)
    format("truetype");
}
@font-face {
  font-family: "fraunces";
  src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf)
    format("truetype");
}
:root {
  --font-projeto: "fraunces";
  --font-secundaria: "manrope";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: var(--font-projeto);
}
header {
  background-color: #24053e;
  padding: 32px 20px;
  clip-path: ellipse(170% 100% at 50% 0%);
}
img {
  max-width: 100%;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.container-header a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #44ffa1;
  font-size: 18px;
  font-family: var(--font-secundaria);
}
.container-data {
  margin: 56px 20px 144px 20px;
  text-align: center;
}
.container-data h1 {
  color: #fff;
  font-size: 48px;

  font-weight: 400;
  margin-bottom: 40px;
}
.container-data span {
  border-bottom: 2px solid #44ffa1;
}
.container-data a {
  display: inline-block;
  text-decoration: none;
  color: #24053e;
  background-color: #44ffa1;
  padding: 32px;
}
