@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-cyan: #00c8c8;
  --color-red: #ea5454;
  --color-orange: #fcae4a;
  --color-blue: #549ef2;
  --text-color: #4d4f62;
  --background-color: #fafafa;
}
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
.four-card-feature-section {
  width: 100%;
  max-width: 316px;
  margin: 56px auto;
}
.intro > .subtitle {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.25;
  text-align: center;
}
.four-card-feature-section > .intro > h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 16px;
  text-align: center;
}
.four-card-feature-section > .intro > .description {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 60px;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.features > .feature {
  padding: 32px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 15px 30px -11px #83a6d2;
}
.features > .supervisor {
  border-top: 4px solid var(--color-cyan);
}
.features > .supervisor > h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}
.features > .supervisor > p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 32px;
}
.features > .supervisor > img {
  width: 64px;
  height: 64px;
  position: relative;
  left: 185px;
}
.features > .team-builder {
  border-top: 4px solid var(--color-red);
}
.features > .team-builder > h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}
.features > .team-builder > p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 32px;
}
.features > .team-builder > img {
  width: 64px;
  height: 64px;
  position: relative;
  left: 185px;
}
.features > .karma {
  border-top: 4px solid var(--color-orange);
}
.features > .karma > h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}
.features > .karma > p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 32px;
}
.features > .karma > img {
  width: 64px;
  height: 64px;
  position: relative;
  left: 185px;
}
.features > .calculator {
  border-top: 4px solid var(--color-blue);
}
.features > .calculator > h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}
.features > .calculator > p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 32px;
}
.features > .calculator > img {
  width: 64px;
  height: 64px;
  position: relative;
  left: 185px;
}
@media screen and (min-width: 486px) and (max-width: 1024px) {
}
