@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
:root {
  --purple-900: #512051;
  --purple-300: #927b91;
  --purple-100: #f7f2f7;
  --pink-400: #ee69a4;
  --font-projeto: "League Spartan", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-projeto);
  min-height: 100vh;
  background:
    url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position:
    top left,
    bottom right;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 80px auto;
  width: 327px;
}
h1 {
  color: var(--purple-900);
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 16px;
  text-align: center;
}
p {
  color: var(--purple-300);
  font-size: 19px;
  line-height: 1.5;
}
.rating {
  background-color: var(--purple-100);
  border-radius: 8px;
  margin-bottom: 16px;
  height: 78px;
  margin: 0 auto 16px auto;
}
.header {
  margin-bottom: 32px;
}
.rating > img {
  margin-right: 8px;
  padding-top: 14px;
  margin-bottom: 14px;
}
.rating > p {
  color: var(--purple-900);
  font-weight: bold;
  font-size: 17px;
}
.rating:last-child {
  margin-bottom: 48px;
}
.comments {
  margin-bottom: 16px;
  background-color: var(--purple-900);
  border-radius: 8px;
  padding: 32px;
}
.comments p {
  color: white;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-align: left;
}
.user-info {
  display: flex;
  margin-right: 24px;
  align-items: center;
  margin-bottom: 32px;
}
.container-user-infos {
  display: flex;
  flex-direction: column;
}
.container-user-infos p {
  margin-bottom: -8px;
  margin-left: 24px;
  text-align: left;
}
.comments img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.comments .verified-buyer {
  color: var(--pink-400);
  font-size: 17px;
  font-weight: normal;
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main {
    width: 100%;
    max-width: 608px;
    padding: 0 78px;
    margin: 118px auto;
  }
  h1 {
    font-size: 55px;
  }
  .rating {
    width: 100%;
    max-width: 453px;
    display: flex;
    align-items: center;
    padding: 16px 32px;
  }
  .comments {
    width: 100%;
    max-width: 453px;
  }
}
@media screen and (min-width: 1025px) {
  main {
    width: 100%;
    max-width: 1110px;
    margin: 116px auto;
  }
  h1 {
    font-size: 56px;
    text-align: left;
  }
  p {
    text-align: left;
  }
  .container-header-ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
  }
  .header {
    width: 445px;
    text-align: left;
  }
  .ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 540px;
  }
  .rating {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    width: 100%;
    max-width: 446px;
    height: 49px;
    margin: 0 0 16px 0;
  }
  .rating > p {
    margin-left: 16px;
    line-height: normal;
  }
  .rating.left {
    align-self: flex-start;
  }
  .rating.right {
    align-self: flex-end;
  }
  .rating.center {
    align-self: center;
  }
  .container-comments {
    display: flex;
    justify-content: space-between;
    height: 256px;
    gap: 30px;
  }
  .comments {
    width: 100%;
    max-width: 350px;
    margin-bottom: 0;
  }
  .top {
    align-self: flex-start;
  }
  .bottom {
    align-self: flex-end;
  }
  .center {
    align-self: center;
  }
}
