@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-text: "Barlow Semi Condensed", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-text);
  background-color: #f6f5f6;
}
main {
  margin-top: 73px;
  margin-bottom: 73px;
}
.card-container {
  width: 305px;
  padding: 32px;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 32px;
  box-shadow: 40px 60px 50px -47px #48556a;
}
.card-header {
  display: flex;
  gap: 17px;
  align-items: center;
}
.card-header img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.border-colored-purple {
  border: 2px solid #a775f1;
}
.border-colored-darkpurple {
  border: 2px solid #733fc8;
}
.first-card {
  background-color: #733fc8;
}
.first-card h2 {
  color: #fff;
  font-size: 20px;
  margin: 16px 0;
  font-weight: 600;
}
.first-card .card-header .name {
  color: #fff;
  font-size: 16px;
}
.first-card .card-header .verified {
  color: #ede4ff;
  font-size: 14px;
}
.first-card p {
  color: #ede4ff;
  font-size: 13px;
}
.second-card {
  background-color: #48556a;
}
.second-card h2 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin: 16px 0;
}
.second-card .card-header .name {
  color: #fff;
  font-size: 16px;
}
.second-card .card-header .verified {
  color: #a3aab4;
  font-size: 14px;
}
.second-card p {
  color: #fff;
  font-size: 13px;
}
.third-card {
  background-color: #fff;
}
.third-card h2 {
  color: #48556a;
  margin: 16px 0;
}
.third-card .card-header .name {
  color: #48556a;
  font-size: 16px;
  font-weight: 600;
}
.third-card .card-header .verified {
  color: #676d7e;
  font-size: 14px;
  font-weight: 600;
}
.third-card p {
  color: #676d7e;
  font-size: 13px;
  font-weight: 600;
}
.fourth-card {
  background-color: #19202d;
  color: #fff;
}
.fourth-card h2 {
  margin: 16px 0;
  font-weight: 500;
  font-size: 20px;
  color: #cfcfcf;
}
.fourth-card .card-header .name {
  font-size: 16px;
}
.fourth-card .card-header .verified {
  font-size: 14px;
}
.fourth-card p {
  font-size: 13px;
  font-weight: 400;
}
.fifth-card {
  background-color: #fff;
}
.fifth-card h2 {
  color: #48556a;
  margin: 16px 0;
  font-size: 20px;
}
.fifth-card .card-header .name {
  color: #48556a;
  font-size: 16px;
}
.fifth-card .card-header .verified {
  color: #a3aab4;
  font-size: 14px;
}
.fifth-card p {
  font-size: 13px;
  color: #676d7e;
  font-weight: 500;
}
@media screen and (min-width: 431px) and (max-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
    margin: 84px 60px;
    gap: 32px;
  }
  .card-container {
    width: 100%;
    margin: 0;
  }
  .card-container h2 {
    font-size: 28px;
  }
  .card-container p {
    font-size: 20px;
  }
  .card-container .card-header .name {
    font-size: 24px;
  }
  .card-container .card-header .verified {
    font-size: 22px;
  }
  .card-header img {
    width: 60px;
    height: 60px;
  }
  .first-card {
    grid-area: 1 / 1 / 2 / 5;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 25%;
    background-size: 125px;
    position: relative;
  }

  .second-card {
    grid-area: 2 / 1 / 2 / 3;
  }
  .third-card {
    grid-area: 2 / 3 / 3 / 5;
  }
  .fourth-card {
    grid-area: 3 / 1 / 4 / 5;
  }
  .fifth-card {
    grid-area: 4 / 1 / 5 / 5;
  }
}

@media screen and (min-width: 1025px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 32px;
    margin: 229px 160px;
  }
  .card-container {
    width: 100%;
    margin: 0;
  }
  .card-container h2 {
    font-size: 28px;
  }
  .card-container p {
    font-size: 20px;
  }
  .card-container .card-header .name {
    font-size: 24px;
  }
  .card-container .card-header .verified {
    font-size: 22px;
  }
  .card-header img {
    width: 60px;
    height: 60px;
  }
  .first-card {
    grid-area: 1 / 1 / 2 / 3;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 25%;
    background-size: 125px;
    position: relative;
  }
  .second-card {
    grid-area: 1 / 3 / 2 / 4;
  }
  .third-card {
    grid-area: 2 / 1 / 3 / 2;
  }
  .fourth-card {
    grid-area: 2 / 2 / 3 / 4;
  }
  .fifth-card {
    grid-area: 1 / 4 / 3 / 5;
  }
}
