@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-principal: "Poppins", sans-serif;
    --font-secundaria: "Open Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: #684BB1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    padding: 40px 20px;
    font-family: var(--font-principal);
    
    
}
.container>header>img{
    width: 120px;
    margin-bottom: 64px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 304px;
    flex-grow: 1;
}
.container>.sub-container> img{
    width: 100%;
    margin-bottom: 56px;
}
.container>.sub-container>.conteudo>h1{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.container>.sub-container>.conteudo>p{
    font-family: var(--font-secundaria);
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 24px;
}
.container>.sub-container>.conteudo>.container-button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container>.sub-container>.conteudo>.container-button>button{
    background-color: #fff;
    color: #684BB1;
    border-radius: 20px;
    font-size: 12px;
    font-family: var(--font-principal);
    padding: 10px 20px;
    width: 200px;
    border: none;
    margin-top: 32px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
    padding-top: 40px;
}
.social>img{
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 8px;
}

@media screen and (min-width:480px) and (max-width:1200px) {
    body{
        background-image: url(images/bg-mobile.svg);
        background-size: 100vw 100vh;
    }
    .container{
        width: 608px;
    }
}
@media screen and (min-width: 1201px) {
    body{
        background-image: url(images/bg-desktop.svg);
        background-size: cover;
    }
    .container{
        width: 100%;
        max-width: 1272px;
        flex-grow: 1;
    }
    .container>.sub-container{
        display: flex;
        align-items: center;
    }
    .container>header>img{
        width: 200px;
        margin-bottom: 104px;
    }
    .social{
        justify-content: flex-end;
    }
}